@charset "UTF-8";

@font-face {
  font-family: "Roboto-Regular";
  src: url("Roboto-Regular.woff2") format("woff2"),
       url("Roboto-Regular.woff") format("woff"),
       url("Roboto-Regular.ttf") format("truetype"),
       url("Roboto-Regular.eot") format("embedded-opentype"),
       url("Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}