.header-prefix{
    background: #e3e4e5;
}
.account-info{
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
    color: #999;
    font-size: 12px;
    line-height: 12px;
}
.log-in{
    margin-right: 10px;
    padding: 0 10px;
    border-right: 1px solid #999;
}