.alert{
    margin: 5px;
}

form .form-group select{
    margin-top: 10px;

}

form .form-group select:nth-of-type(1){
    margin-top: 0px;
    margin-bottom: 0px;
}

.select2-container--classic .select2-selection--multiple{
    border-radius: 0;
    border-color: #d2d6de;
}