.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #367fa9;
	padding: 6px 12px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid transparent;
}
.webuploader-pick-hover {
	background: #204d74;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

#picker, #picker-pc, #picker-m, #picker-logo, #picker-video{
	margin-top: 10px;
}
#uploader, #uploader-pc, #uploader-m{
	margin-top: 10px;
	margin-left: 10px;
}
.delete-image{
	margin-top: 10px;
}
.multiple-images{
	text-align: center;
}
