@font-face {
	font-family: 'bpmenu';
	src:url('../fonts/bpmenu/bpmenu.eot');
	src:url('../fonts/bpmenu/bpmenu.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpmenu/bpmenu.woff') format('woff'),
		url('../fonts/bpmenu/bpmenu.ttf') format('truetype'),
		url('../fonts/bpmenu/bpmenu.svg#bpmenu') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
       url("../fonts/Roboto-Regular.woff") format("woff"),
       url("../fonts/Roboto-Regular.ttf") format("truetype"),
       url("../fonts/Roboto-Regular.eot") format("embedded-opentype"),
       url("../fonts/Roboto-Regular.svg") format("svg");
}
body{
  font-family: 'Roboto-Regular', "Helvetica Neue",Helvetica,Arial,sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
a:link,a:visited,a:hover,a:active{
	text-decoration: none;
}
.logo{
	margin: 20px auto;
}
.logo .search {
    position: relative;
    margin-top: 9px;
}
.logo .search-btn {
    width: 33px;
    height: 33px;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    border-radius: 0px 4px 4px 0;
}
.logo .search-btn::after {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../images/search.png);
    background-size: 26px 26px;
    position: absolute;
    top: 3px;
    left: 2px;
}

/* Main menu wrapper */
.cbp-hsmenu-wrapper {
	position: relative;
}

/* Common style for all lists */
.cbp-hsmenu-wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

/* 100% width bar for menu */
.cbp-hsinner {
	background: #404040;
	position: relative;
	z-index: 100;
}

/* Main menu style */
.cbp-hsmenu-wrapper .cbp-hsmenu {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-hsmenu > li {
	/*margin-left: 4em;*/
	display: inline-block;
}

.cbp-hsmenu > li:first-child {
	margin-left: 0;
}

/* Main menu link style */
.cbp-hsmenu > li > a {
	color: #fff;
	font-size: 1.2em;
	line-height: 3em;
	display: inline-block;
	position: relative;
	z-index: 10000;
	outline: none;
}

.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
	color: #02639d;
}

/* Add an arrow to the main menu link if it has a submenu (not the only child) */
.cbp-hsmenu > li > a:not(:only-child):before {
	display: inline-block;
	font-family: 'bpmenu';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\f107";
	font-size: 80%;
	margin-right: 0.3em;
	opacity: 0.4;
	vertical-align: middle;
}

.cbp-hsmenu > li.cbp-hsitem-open > a:not(:only-child):before {
	content: "\f106";
}

/* Add a triangle to currently open menu item link */
.cbp-hsmenu > li.cbp-hsitem-open > a:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #47a3da;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

/* Submenu style */
.cbp-hssubmenu {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	z-index: 0;
	text-align: center; /* for aligning the sub items */
	visibility: hidden;
}

.cbp-hssubmenu:before, 
.cbp-hssubmenu:after { 
	content: " "; 
	display: table; 
}
.cbp-hssubmenu:after { 
	clear: both; 
}

/* Let's allow 6 item in a row */
.cbp-hssubmenu > li {
	width: 16.2%;
	display: inline-block;
	vertical-align: top;
	box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	opacity: 0;
	-webkit-transition: opacity 0.1s 0s;
	-moz-transition: opacity 0.1s 0s;
	transition: opacity 0.1s 0s;
}

/* First 6 items don't have upper box shadow */
.cbp-hssubmenu > li:nth-child(-n+6) {
	box-shadow: -28px 0 0 -27px #ddd;
} 

/* Every 7th item does not have a left box shadow */
.cbp-hssubmenu > li:nth-child(6n+1) {
	box-shadow:  0 -28px 0 -27px #ddd;
}

/* The first one does not have any box shadow */
.cbp-hssubmenu > li:first-child {
	box-shadow: none;
}

.cbp-hssubmenu > li a {
	display: block;
	text-align: center;
	color: #a2a2a2;
	outline: none;
	padding: 2em 1em 1em 1em;
}

.no-touch .cbp-hssubmenu > li a:hover,
.no-touch .cbp-hssubmenu > li a:focus {
	color: #888;
}

.cbp-hssubmenu > li a img {
	border: none;
	outline: none;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
	height: 60px;
}
.cbp-hssubmenu > li .view-all{
	height: 138px;
	line-height: 138px;
}
.cbp-hssubmenu > li .view-all span{
	border: 2px solid #036;
	color: #036!important;
	font-size: 13px;
	line-height: 16px;
	padding: 15px 20px;
	min-width: 200px;
}
.no-touch .cbp-hssubmenu > li a:hover img {
	opacity: 0.5;
}

.cbp-hssubmenu > li a span {
	display: block;
	line-height: 30px;
	margin-top: 0.4em;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
	z-index: 1000;
	visibility: visible;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
	opacity: 1;
	-webkit-transition: opacity 0.5s 0.1s;
	-moz-transition: opacity 0.5s 0.1s;
	transition: opacity 0.5s 0.1s;
}

/* Helper div for animating the background */
.cbp-hsmenubg {
	background: #f7f7f7;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 0;
	height: 0px;
}

.no-touch .cbp-hsmenubg {
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}
.no-touch .cbp-hsmenu > li > a{
    padding: 0 20px;	
}
.no-touch .cbp-hsmenu > li > a:hover, .no-touch .cbp-hsmenu > li > a:focus, .cbp-hsmenu > li.cbp-hsitem-open > a{
	background: #158fc6;
	color: #fff;
}


@media screen and (max-width: 65em){
	.cbp-hsmenu-wrapper {
		font-size: 80%;
	}
}

@media screen and (max-width: 51.4375em){
	.cbp-hsmenu-wrapper {
		font-size: 100%;
	}

	.cbp-hsmenu-wrapper .cbp-hsmenu {
		padding: 0;
		max-width: none;
		width: 100%;
	}

	.cbp-hsmenu > li {
		border-top: 1px solid rgba(255,255,255,0.5);
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	.cbp-hsmenu > li:first-child {
		border-top: none;
	}

	.cbp-hsmenu > li > a {
		display: block;
	}

	.cbp-hsmenu > li > a:not(:only-child):before {
		line-height: 1.8;
		right: 0;
		position: absolute;
		font-size: 200%;
	}

	.cbp-hsmenubg {
		display: none;
	}

	.cbp-hssubmenu {
		background: #f7f7f7;
		position: relative;
		overflow: hidden;
		height: 0;
	}

	.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
		height: auto;
	}

	/* Let's only allow 3 item in a row now */
	.cbp-hssubmenu > li {
		width: 30%;
	}

	/* Reset box shadows for the 6 items in row case */
	.cbp-hssubmenu > li:nth-child(-n+6),
	.cbp-hssubmenu > li:nth-child(6n+1) {
		box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	}

	/* First 4 items don't have upper box shadow */
	.cbp-hssubmenu > li:nth-child(-n+3) {
		box-shadow: -28px 0 0 -27px #ddd;
	} 

	/* Every 5th item does not have a left box shadow */
	.cbp-hssubmenu > li:nth-child(3n+1) {
		box-shadow:  0 -28px 0 -27px #ddd;
	}

}

@media screen and (max-width: 25em){
	/* Let's only allow 1 item in a row now */
	.cbp-hssubmenu > li {
		width: 100%;
		display: block;
	}

	.cbp-hsmenu-wrapper .cbp-hssubmenu > li {
		box-shadow: 0 1px #cecece;
		text-align: left;
	}

	.cbp-hssubmenu > li a {
		text-align: left;
		line-height: 50px;
		padding: 0.4em 1em;
	}

	.cbp-hssubmenu > li a img {
		float: left;
		max-height: 50px;
	}

	.cbp-hssubmenu > li a span {
		min-height: 0;
		margin: 0;
	}
}
.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu{
	background: #F0F0F0;
}

/*导航轮播*/

.slide{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	z-index: 999;
	overflow: hidden;
}
.slide ul{
	width: 10000%;
	list-style-type: none;
}
.next_btn{
	position: absolute;
	width: 25px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	opacity: .5;
	vertical-align: middle;
	background: rgba(0,0,0);
	right: 5px;
	top: 50%;
	color: #fff;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	font-family: "宋体";
}
.prev_btn{
	position: absolute;
	width: 25px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	opacity: .9;
	vertical-align: middle;
	background: rgba(0,0,0,.1);
	left: 5px;
	top: 50%;
	color: #fff;
	font-family: "宋体";
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}
.slide ul:after{
	content: '';
	clear: both;
	display: block;
}
.slide ul li{
	float: left;
	text-align: center;
	height: 450px;
}
.slide ul li img{
	vertical-align: middle;
	max-width: 100%;
}
.slide .circle_btn{
	position: absolute;
	bottom: 15px;
	text-align: center;
	left: 0;
	display: table;
	margin: 0 auto;
	width: 100%;
}
.slide .circle_btn button{
	box-sizing: content-box;
	opacity: .8;
	outline: none;
	border: none;
	padding: 2px 18px;
	background: rgba(255,255,255,.2);
	margin: 2px 5px;
	overflow: hidden;
	transition: all .6s;
	cursor: pointer;
}
.slide .circle_btn button.active{
	background: rgba(167,167,167,.8);
}
/*---------------------------------------------------------*/
/* Carousel */
	.carousel-example {
		padding: 20px 0 50px 0;
	}
	
	#complicated-content-carousel .carousel-control {
		position: absolute;
		top: -20px;
		right: 0;
		left: auto;
		bottom: auto;
		width: 14px;
		font-size: 25px;
		color: #3c3c3c !important;
		opacity: 1;
	}
	
	#complicated-content-carousel .carousel-control.left,
	#complicated-content-carousel .carousel-control.right {
		background-image: none;
	}
	
	#complicated-content-carousel .carousel-control.left {
		right: 35px;
	}
	
	#complicated-content-carousel .index {
		position: absolute;
		top: -70px;
		right: 0;
		font-size: 16px;
		color: #3c3c3c;
	}
	
	#complicated-content-carousel .flex-item {
		position: relative;
		display: inline-block;
		width: 320px;
		height: 380px;
		padding: 16px 13px;
		background-color: #f5f6f7;
		border: 6px solid #f5f6f7;
	}
	
	#complicated-content-carousel .flex-item:hover,
	#complicated-content-carousel .flex-item:focus {
		border: 6px solid #d2d4d5;
		border-radius: 3px;
	}
	
	.good-top {
		height: 21px;
	}
	
	.good-top-left {
		font-size: 16px;
		color: #424242;
		text-transform: uppercase;
		line-height: 21px;
	}
	
	.good-top-right {
		height: 21px;
		text-align: right;
	}
	
	.choose-color div {
		display: inline-block;
		width: 21px;
		height: 21px;
		border-radius: 50%;
		letter-spacing: 5px;
		cursor: pointer;
	}
	
	.choose-color .blue {
		background-color: #165eb9;
	}
	
	.choose-color .yellow {
		background-color: #ffe637;
	}
	
	.choose-color .black {
		background-color: #535253;
	}
	
	.choose-color .grey {
		background-color: #d3a7ac;
	}
	
	.choose-color .dark-blue {
		background-color: #35374c;
	}
	
	.choose-color .dark-blue-women {
		background-color: #192b5e;
	}
	
	.choose-color .light-blue-women {
		background-color: #1682c4;
	}
	
	.good-top-left .fa {
		position: relative;
		top: 2px;
		font-size: 21px;
	}
	
	.good-bottom {
		height: 21px;
	}
	
	.good-bottom * {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.good-bottom-left a h4 {
		font-size: 18px;
		color: #3c3c3c;
		text-transform: uppercase;
		line-height: 21px;
	}
	
	.good-bottom-right {
		position: relative;
		top: -1px;
		font-size: 22px;
		color: #424242;
		text-transform: uppercase;
		line-height: 21px;
	}
	
	.good-top-left,
	.good-bottom-left {
		float: left;
		text-align: left;
	}
	
	.good-top-right,
	.good-bottom-right {
		float: right;
		text-align: right;
	}
	
	.good-image {
		height: 294px;
		text-align: center;
	}
	
	.good-image:before {
	    content: "";
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}
	
	.good-image img {
		max-height: 240px;
		vertical-align: middle;
	}
	
	.size {
		position: absolute;
		padding: 0;
		cursor: pointer;
		transition: all .35s;
	}
	
	.size.shown {
		padding: 0 5px 5px 5px;
		background-color: #fff;
		border-radius: 2px;
	}
	
	.size.shown .option:hover {
		background-color: #f5f6f7;
	}
	
	.carousel-control {
		width: 50px;
		height: 50px;
		top: 50%;
		transform: translateY(-50%);
		bottom: auto;
		font-size: 30px;
		text-align: center;
		opacity: 1;
	}
	
	a.carousel-control.left,
	a.carousel-control.right {
		background-image: none;
		opacity: 1;
		text-align: center;
	}

/* MEDIA QUERIES */
	/* styles for phones' displays */
	@media only screen and (max-width: 350px) {
		#complicated-content-carousel .flex-item {
			width: 300px;
		}
	}
	
	/* styles for medium size displays */
	@media only screen and (min-width: 992px) and (max-width: 1199px) {
		#complicated-content-carousel .flex-item {
			width: 300px;
		}
	}

.we{
	margin-top: 30px;
}
.we h2{
	font-size: 24px;
	color: #036;
}
.we p{
	/*font-size: 13px;*/
	margin-top: 20px;
}
.we .story a{
	margin:0 auto;
	display: block;
    border: 2px solid #036;
	color: #036;
	padding: 15px 20px;
	text-align: center;
	border-radius: 0;
	width: 200px;
	min-width: 200px;
	text-transform: uppercase;
}
.row.we img {
    width: 100%;
    margin-top: 2%;
}
.Testimonials{
	margin-top: 30px;
	background: #d9d9d9;
	padding: 10px;
}
.Testimonials .tex{
	padding: 5px 150px;
}
.Testimonials .smalltex{
	font-size: 10px;
}
footer{
	background: #313131;
	padding: 30px 0px;
}

footer .store-info{
	margin-top: 30px;
    line-height: 25px;
    color: #b9b9b9;
}
footer a {
    color: #b9b9b9;
    font: 400 14px/24px "PT Sans",Helvetica,sans-serif;
}
footer .social-links a{
	padding:0 8px;
}
footer .footer-information h5{
	text-transform: uppercase;
    color: #fff;
    font: 700 17px/22px "PT Sans",sans-serif;
}
footer .footer-information a{
	display: block;
}
footer a:hover, footer a:focus {
    color: #FFFFFF;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-linkedin:before {
    content: "\f0e1";
}
.fa-google-plus:before {
    content: "\f0d5";
}
.fa-map-marker:before {
    content: "\f041";
}
.fa-phone:before {
    content: "\f095";
}
.fa-envelope:before {
    content: "\f0e0";
}
footer .address{
	position: relative;
}
/*footer .address a{
	display: inline-block;
}*/
footer i.fa-map-marker, footer i.fa-phone, footer i.fa-envelope{
	position: absolute;
	left: -20px;
	/*display: inline-block;*/
    padding-top: 3px;
    color: #b9b9b9;
    font-size: 14px;
}
.box1 .section-title{
	position: relative;
	margin-bottom: 30px;
}
.box1 .section-title span{
	position: relative;
	z-index: 2;
	background: #fff;
	padding: 10px 15px;
}
.box1 .section-title::after{
	background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.footer-bottom{
	background: #121212;
	padding: 20px;
	color: #b9b9b9;
}
.featureImg a:hover img{
	transform:scale(1.1);
}
.shop-header-con .story{
	margin: 30px auto;
}

/*垂直导航*/
.menu_list{width:100%;}
.menu_head{width:100%;height:47px;line-height:47px;padding-left:38px;font-size:14px;color:#525252;cursor:pointer;border:1px solid #e1e1e1;position:relative;font-weight:bold;background:#f1f1f1 url(../images/pro_left.png) center right no-repeat;margin:0;}
.menu_list .current{background:#f1f1f1 url(../images/pro_down.png) center right no-repeat;}
.menu_body{width:100%;height:auto;overflow:hidden;line-height:38px;border-left:1px solid #e1e1e1;backguound:#fff;border-right:1px solid #e1e1e1;}
.menu_body a{display:block;width:100%;height:38px;line-height:38px;padding-left:38px;color:#777777;background:#fff;text-decoration:none;border-bottom:1px solid #e1e1e1;}
.menu_body a:hover{text-decoration:none;}

.product-list{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	/*background: red;*/
}
.product-list h4{
	font-size: 14px;
}
.product-list p{
	font-size: 12px;
}
.product-list .hcode a{
	color: #aaa;
}
.product-list p.price{
	font-size: 16px;
	color: #34495e;
	font-weight: bold;
}
.product-list li{
	padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin:10px 5px;
}
.product-list li img{
	text-align: center;
	width: 100%;
	height: 260px;
	background-size: 100% 100%;
}
.product-detail{
	width: 30%;
}
.product-name{
	border-bottom: 1px solid #e0e0e0;
    color: #424242;
    font-size: 22px;
    padding-bottom: 15px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border: none;
}

.product-detail .product-info-value{
	color: #aaaaaa;
}
.sale{
	border-top: 1px solid #e0e0e0;
	padding-top: 30px;
}
.sale span{
	background-color: #e45648;
    padding: 5px 10px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 11px;
    width: 55px;
    display: block;

}
.product-price{
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 10px;
    color: #393939;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}
.product-des{
	margin:30px auto;
}
.product-des-title{
	color: #158fc6;
	border-bottom: 1px solid #e0e0e0;
	font-size: 15px;
	padding-bottom: 10px;
	position: relative;
	margin-top: 30px;
}
.product-des-title:after{
	content: '';
    display: block;
    width: 8%;
    /*height: 26px;*/
    border-bottom: 3px solid #158fc6;
    position: absolute;
    bottom: 0;
    left: 0;
}
.product-list{
	margin-top: 30px;
}
.product-des-con{
	padding: 0 10px;
	margin-top: 30px;
	line-height: 2.2;
}
.product-related{
	margin-top: 30px;
}
.product-des-lis{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.product-des-lis li{
	flex: 0 0 47%;
	padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin:10px 5px;
}
.about{
	margin-bottom: 30px;
}
.cbp-hsmenu-wrapper{
	z-index: 1000;
}
/*.modal{
	top: 20%;
}*/
#menu{font-size: 20px; float: right;position: absolute;right: 15px;top: 15px;}

@media (min-width: 992px){
	
	#menu{display: none;}
	.product-list li{
		flex: 0 0 30%;
	}
	.product-des-lis li{
		flex: 0 0 24%;
	}
	.product-des-con{
		padding:0;
	}
}
@media (max-width: 992px){
.product-detail {
    width: 100%;
}
.Testimonials .tex{padding:0;}
	#cbp-hsmenu-wrapper{display: none;}
	#featureContainer{display: none;}
}