
#featureContainer {
	MARGIN: 0px auto; WIDTH: 923px;
}
#wrap {
	OVERFLOW: hidden
}
#load {
	BACKGROUND-IMAGE: url(images/loader32x32.gif); BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; TEXT-INDENT: -9999px; MARGIN: 0px auto; WIDTH: 923px; DISPLAY: none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 100px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted
}
#feature {
	POSITION: relative; MARGIN-TOP: 5px; MARGIN-BOTTOM: 20px;
}
/*#feature .button {
	POSITION: absolute; WIDTH: 840px; TOP: 72px;  LEFT: 0px
}*/
#feature .prev {
    width: 20px;
    display: block;
    background: url(../images/feature_left.gif) center top;
    float: left;
    height: 32px;
    position: absolute;
    top: 15px;
    background-size: cover;
    text-indent: -9999px;
}
#feature .scroll-next{
	width: 20px;
    display: block;
    background: url(../images/feature_right.gif) center top;
    float: right;
    height: 32px;
    position: absolute;
    top: 15px;
    background-size: cover;
    text-indent: -9999px;
    right: 0;
}

#feature .prev:hover {
	BACKGROUND-POSITION: center bottom
}
#feature .scroll-next:hover {
	BACKGROUND-POSITION: center bottom
}
.featureUL {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 2400px; PADDING-RIGHT: 0px; FLOAT: left;  PADDING-TOP: 0px; LEFT: 0px
}
.featureBox {
	 WIDTH: 100px; FLOAT: left; HEIGHT: 80px; OVERFLOW: hidden;
}
#botton-scroll {
	Z-INDEX: 0;  MARGIN: 0px auto; WIDTH: 800px; FLOAT: left; HEIGHT: 110px; 
}
#block {
	Z-INDEX: 0; POSITION: relative; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 800px; PADDING-RIGHT: 0px; HEIGHT: 80px; FONT-SIZE: 70%; OVERFLOW: hidden; PADDING-TOP: 0px
}
#block .box {
	 MARGIN: 0px 10px; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 10px; FLOAT: left; 
}
.collection-image{
    display: inline-block;
}
.shop-header-banner{
    text-align: center;
}

.panel-group{
    margin-top: 40px;
}
.panel-group .panel{
    margin-bottom: 20px;
}
.panel-heading{
    border-top: 2px solid #ea582b;
    border-radius: 0;
}
.panel-group .panel{
    border-radius: 0;
}
.pager li > a, .pager li > span{
    border-radius: 0;
}
.pager .pagination-info{
    border: 0;
    font-size: 12px;
    padding: 0;
    line-height: 32px;
}
.pagination-page-input{
    display: inline-block;
    width: 40px;
    height: 30px;
    text-align: center;
    margin: 0 10px;
    border-radius: 0;
}
.pagination-page-select{
    display: inline-block;
    width: 60px;
    border-radius: 0;
}
.pagination-page-total{
    margin: 0 10px;
}